<form th:object="${publisher}" id="publisherForm" method="post" th:action="@{/api/book/save}"
    enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="id" id="id" th:field="*{id}">

    <div class="mb-3">
        <label for="bookTitle" class="form-label">Book's Title</label>
        <input type="text" class="form-control" id="bookTitle" name="bookTitle" th:field="*{title}">
    </div>

    <div class="mb-3">
        <label for="bookTitle" class="form-label">Book's Title</label>
        <input type="text" class="form-control" id="bookTitle" name="bookTitle" th:field="*{title}">
    </div>
    <button type="submit" class="bg-primary text-white rounded" style="float: right">Save</button>
</form>

<script>


    // function submitForm() {
    //     const form = document.getElementById('bookForm');
    //     const data = {
    //         id: form.id.value,
    //         authorId: form.selectAuthor.value,
    //         categoryId: form.selectCategory.value,
    //         publisherId: form.selectPublisher.value,
    //         title: form.bookTitle.value,
    //         synopsis: form.synopsis.value,
    //         stock: form.stock.value,
    //         publishedAt: form.publishedAt.value
    //     };

    //     fetch('/api/books', {
    //         method: 'POST',
    //         headers: {
    //             'Content-Type': 'application/json'
    //         },
    //         body: JSON.stringify(data)
    //     })
    //         .then(response => response.json())
    //         .then(data => console.log(data))
    //         .catch(error => console.error('Error:', error));
    // }
</script>